body{
    background:#0f172a;
    color:white;
    font-family:Arial;
    padding:20px;
}

header{
    text-align:center;
}

.card{
    background:#1e293b;
    padding:15px;
    margin:10px;
    border-radius:10px;
    display:inline-block;
}

.project{
    background:#2563eb;
    padding:15px;
    margin:10px;
    border-radius:10px;
}
